<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
    <display-name>final2</display-name>
    <welcome-file-list>
        <welcome-file>202308230110刘燕妃.html</welcome-file>
    </welcome-file-list>
	<session-config>
        <session-timeout>30</session-timeout> <!-- 设置会话超时时间为30分钟，可根据实际需求调整 -->
    </session-config>
    <!-- 配置 FunctionServlet -->
    <servlet>
        <servlet-name>FunctionServlet</servlet-name>
        <servlet-class>servlet.functionservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FunctionServlet</servlet-name>
        <url-pattern>/FunctionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
<servlet>
        <servlet-name>AddRecordServlet</servlet-name>
        <servlet-class>servlet.AddRecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRecordServlet</servlet-name>
        <url-pattern>/AddRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
	 <servlet>
        <servlet-name>QueryRecordServlet</servlet-name>
        <servlet-class>servlet.QueryRecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryRecordServlet</servlet-name>
        <url-pattern>/QueryRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayServlet</servlet-name>
        <servlet-class>servlet.DisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayServlet</servlet-name>
        <url-pattern>/DisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PermissionServlet</servlet-name>
        <servlet-class>servlet.PermissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionServlet</servlet-name>
        <url-pattern>/PermissionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PermissionCheckServlet</servlet-name>
        <servlet-class>servlet.PermissionCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionCheckServlet</servlet-name>
        <url-pattern>/checkPermission</url-pattern>
    </servlet-mapping>
    <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>filter.LogFilter</filter-class>
    </filter>
	<filter-mapping>
	    <filter-name>LogFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>